html, body {
  position: relative;
  background: $general-background;
  font-size: $general-font-size;
  color: $font-color;
  // overflow: hidden;
  font-family: "PingHei","Helvetica Neue",Helvetica, Arial, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun", "sans-serif";
}

