$general-font-size: 14px;

$general-background: #f8f4f5;
$quest-background: f9f4f8;
$white: #ffffff;
$pink: #f26b90;
$gray: #626262;
$light-gray: #cccccc;
$dark-pink: #df4e7a;
$lighter-gray: #f3f4f5;
$blue: #46bae9;
$font-color: #262626;
$font-size: 0.35rem;
