@import '../../styles/vars.scss';
.headerCon {
  background: $white;
  height: 75px;
  margin-bottom: 10px;
  border-bottom: solid 0.5px #eeeeee;
  position: relative;
  .shareHeader {
    width: 100%;
    height: 75px;
    td {
      height: 75px;
      p {
        margin: 0;
        font-size: 14px;
        &.p1 {
          color: #333333;
          margin-bottom: 3px;
        }
        &.p2 {
          color: #d5d5d5;
        }
      }
      &.btn {
        text-align: right;
      }
      span.btn {
        display: inline-block;
        font-size: 12px;
        line-height: 30px;
        border: solid 1px #333333;
        padding: 0 10px;
        border-radius: 5px;
        margin-right: 10px;
        a {
          color: #333333;
          text-decoration: none;
        }
      }
    }
    .icon {
      width: 75px;
      background: url('./logo.png') no-repeat center center;
      background-size: auto 50%;
    }
  }
}
