@import '../../styles/vars.scss';
.tagsCon {
  background: #f6f4f5;
  .title {
    margin: 0;
    color: $pink;
    font-size: 16px;
    background: $white;
  }
  .headPart {
    padding: 15px 15px 6px 15px;
    background: $white;
    margin-bottom: 11px;
    .popTags {
      list-style: none;
      padding: 20px 5%;
      margin: 0;
      overflow: hidden;
      .tagName {
        color: $gray;
        border: solid 0.5px #666;
        border-radius: 5px;
        line-height: 35px;
        height: 35px;
        text-align: center;
        float: left;
        width: 28%;
        margin-right: 7.5%;
        margin-bottom: 5%;
        &.noMargin {
          margin-right: 0
        }
        &.noBottom {
          margin-bottom: 0
        }
      }
    }
  }
  .choicetitle {
    padding: 15px;
    border-bottom: solid 0.5px #eeeeee;
  }

  .bottomPart,.subTagCon {
    padding: 0 15px;
    background: $white;
    dl {
      padding: 0;
      margin: 0;
      dd{
        padding: 15px 0;
        margin: 0;
        border-bottom: solid 0.5px #eeeeee;
      }
    }
  }

  .tag {
    color: $gray;
    background: no-repeat left center;
    background-size: auto 40%;
  }
  .tagID_52, .tagID_38 {
    background-image: url('./tag01.png');
    padding-left: 10% !important;
  }

  .tagID_45 {
    background-image: url('./tag02.png');
    padding-left: 10% !important;
  }

  .tagID_44 {
    background-image: url('./tag03.png');
    padding-left: 10% !important;
  }

  .tagID_44 {
    background-image: url('./tag03.png');
    background-size: auto 31%;
    padding-left: 10% !important;
  }

  .tagID_63 {
    background-image: url('./tag06.png');
    padding-left: 10% !important;
  }

  .tagID_6 {
    background-image: url('./tag07.png');
    background-size: auto 35%;
    padding-left: 10% !important;
  }

  .tagID_46 {
    background-image: url('./tag04.png');
    background-size: auto 35%;
    padding-left: 10% !important;
  }

  .tagID_51 {
    background-image: url('./tag05.png');
    padding-left: 10% !important;
  }

  .tagID_96 {
    background-image: url('./tag08.png');
    background-size: auto 31%;
    padding-left: 10% !important;
  }
}
