@import '../../styles/vars.scss';
.userInfoCon {
  .content {
    background-color: $white;
    margin: auto;
    padding-bottom: 61px;
    .headPart {
      border-bottom: solid 1px #f6f1f2;
      text-align: center;
      padding: 45px 0 22.5px;
      img.avatar {
        border-radius: 48.5px;
        width: 93.5px;
        height: 93.5px;
      }
      p.userName {
        color: #221f22;
        font-size: 20px;
        line-height: 37.5px;
        margin: 0;
        padding-top: 11px;
      }
    }
    dl.category {
      width: 100%;
      margin: 0;
      dd {
        a {
          color: #221f22;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
        }
        font-size: 15px;
        margin: 0;
        padding: 18.5px 22.5px;
        border-bottom: solid 1px #f6f1f2;
        background: url('./UserInfo/arrow.png') no-repeat 93% center;
        background-size: auto 25%;
      }
    }
  }
}

.rankCon {
  padding-bottom: 60px;
  dl {
    margin: 0;
    dd {
      margin: 0;
      border-bottom: solid 0.5px #eee;
      background-color: $white;
      padding: 20px;
      span {
        display: inline-block;
        font-size: 14px;
        height: 40px;
        vertical-align: middle;
      }
      span.avatar {
        width: 40px;
        background: no-repeat center center;
        background-size: cover;
        border-radius: 20px;
      }
      span.username {
        margin-left: 20px;
        line-height: 40px;
      }
      span.helpCnt {
        line-height: 40px;
        float: right;
      }
    }
  }
}

.returnBackBtn {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 25.5px;
  line-height: 25.5px;
  color: $white;
  font-size: 13px;
  background-image: -o-linear-gradient(top, #ff85a2, $pink);
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff85a2), to($pink));
  background-image: -moz-linear-gradient(top, #ff85a2, $pink);
}
.warnContainer {
  color: $light-gray;
  padding: 37.5px;
  font-size: 13.5px;
  text-align: center;
}

.quickHelpHead {
  margin-bottom: 11px;
  background: $white;
  height: 100px;
  width: 100%;
  .icon {
    width: 40%;
    background: url('./SuperHelper/paihang.png') no-repeat center center;
    background-size: auto 60%;
  }
  p {
    margin: 0;
  }
  .p1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }
  .p2 {
    font-size: 14px;
    color: #777777;
  }
}

.userQuestionCon,.userLikedCon,.userAnsweredCon {
  .has-no-more {
    display: none;
  }
  .content {
    position: relative;
    overflow: hidden;
    #scroller {
      position: absolute;
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      width: 100%;
      padding: 0;
    }

    ul.userTab {
      width: 100%;
      list-style: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      height: 56px;
      li {
        a {
          color: $pink;
          text-decoration: none;
        }
        border:solid 1px $pink;
        margin-top: 13px;
        width: 20%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        color: $pink;
        font-size: 13.5px;
      }
      li.latest {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      li.popular {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      li.active {
        a {
         color: $white;
        }
        background-color: $pink;
        color: $white;
      }
    }

    .postedList {
      margin: 0;
      &.marginTop{
        margin-top: 18.5px;
      }
      dd {
        background-color: $white;
        margin: 0 auto 11px;
        padding: 15px 0;
        border-top: solid 1px #f4f1f2;
        border-bottom: solid 1px #f4f1f2;
        a {
          text-decoration: none;
        }

        p {
          margin: 0 18.5px;
          padding: 0
        }
        p.title {
          font-size: 16px;
          font-weight: normal;
          color: $font-color;
          line-height: 22.5px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 9.5px;
        }
        p.summary {
          border-top: solid 1px #efefef;
          padding: 15px 0 11px;
          span {
            display: inline-block;
            line-height: 18.5px;
          }
          span.label {
            border-radius: 5px;
            color: $white;
            font-size: 12px;
            padding: 0 5px;
            &.label_help {
              background-color: #3dbaea;
            }
            &.label_tucao {
              background-color: #534c53;
            }
            &.label_friend {
              background-color: #ff7fa0;
            }
            &.label_idle {
              background-color: #efc326;
            }
          }
          span.tucao {

          }
          span.question {
            overflow: hidden;
            line-height: 19.5px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            color: #999999;
            font-size: 13px;
            width: 85%;
            float: right;
          }
        }
        p.datetime {
          position: relative;
          span {
            font-size: 11px;
            color: #999999;
            display: inline-block;
          }

          .deletebtn {
            position: absolute;
            padding: 30px 0 20px 30px;
            top: -30px;
            right: 0px;
          }
        }
      }
    }
  }
}

