<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,IE=9,IE=8,chrome=1" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" >
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="apple-mobile-web-app-status-bar-style" content="black" >
    <meta content="" name="description" >
    <meta content="bamaying.com" name="author" >
    <meta content="_csrf" name="csrf-param" >
    <meta content="csrf" name="csrf-token" >
    <meta name="format-detection" content="telephone=no" />

    <title>react-redux</title>

    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png">
    <link rel="shortcut icon" href="http://www.sangzb.com/favicon.ico?type=new">
  </head>
  <body>
    <base href='/wechat/discussion' />
    <div id="app" style='height: 100%;'></div>
    <script type="text/javascript" src="" charset="UTF-8"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=57118519" charset="UTF-8"></script>
  </body>
</html>
