@import '../../styles/vars.scss';
.popupCover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('popupbg.png');
  z-index: 10001;
  top: 0;
  left: 0;
  .confirmCon {
    display: block;
    transform: scale(0);
    -webkit-transform: scale(0);
    border-radius: 5px;
    background-color: $white;
    position: absolute;
    left: 15%;
    top: 50%;
    margin-top: -60px;
    width: 70%;
    &.show {
      transform: scale(1);
      -webkit-transform: scale(1);
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-transition-property: transform, -webkit-transform;
      transition-property: transform, -webkit-transform;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      height: 80px;
      line-height: 80px;
      color: #a4a4a4;
    }
    .buttonCon {
      width: 100%;
      height: 40px;
      border-top: solid 0.5px #ccc;
      color: #a4a4a4;
      span {
        font-size: 14px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 50%;
        text-align: center;
        position: relative;
        i.split {
          position: absolute;
          height: 100%;
          width: 0.5px;
          background: #ccc;
          top: 0;
          right: 0;
        }
        &.submit {
          color: $pink;
        }
      }
    }
  }
}
