@import '../../styles/vars.scss';
.postDiscussion {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  .postCon {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 70%;
    overflow: hidden;
    position: absolute;
    left: 15%;
    top: 50%;
    li {
      background: url('./bg.png') no-repeat center center;
      background-size: auto 100%;
      width: 48%;
      float: left;
      margin-bottom: 3%;
      img {
        display: block;
        width: 40%;
        margin: 16% auto 0;
      }
      p.icon {
        width: 100%;
        height: 45%;
        margin: 0;
        background: no-repeat center bottom;
        background-size: 40% auto;
        &.icon_question {
          background-image: url('./icon-01.png');
        }
        &.icon_complaint {
          background-image: url('./icon-02.png');
        }
        &.icon_idle {
          background-image: url('./icon-03.png');
        }
        &.icon_friend {
          background-image: url('./icon-04.png');
        }
      }
      p.hr {
        margin: 5px auto 0;
        width: 70%;
        text-align: center;
        line-height: 30px;
        background: url('./line.png') no-repeat center center;
        background-size: 100% auto;
        font-size: 14px;
      }
      p.text {
        color: #999;
        margin: 2px auto 0;
        text-align: center;
        font-size: 12px;
      }
      &.left {
        margin-right: 2%;
      }
      &.right {
        margin-left: 2%;
      }
    }
  }
}
