@import '../../styles/vars.scss';
.listContainer {
  background: $general-background;
  margin-bottom: 56px;
  position: relative;
  ul.tab {
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 56px;
    position: relative;
    li {
      border:solid 1px $pink;
      margin-top: 13px;
      width: 20%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      color: $pink;
      font-size: 13.5px;
    }
    li.latest {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    li.popular {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    li.active {
      background-color: $pink;
      color: $white;
    }
  }
  ul.fixtop {
    position: fixed;
    left: 0;
    z-index: 9999;
  }
  .contentCon {
    width: 100%;
    position: relative;
    overflow: hidden;
    #scroller {
      position: relative;
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      width: 100%;
      padding: 0;
    }
    .userPanel {
      width: 92%;
      margin: 20px auto;
      border-radius: 10px;
      background-color: $white;
      a.userlink {
        display: block;
        color: #303030;
        text-decoration: none;
        margin: 0;
        font-size: 15.5px;
        line-height: 19.5px;
        border-bottom: solid 1px #efefef;
        padding: 18.5px;
        background: url('./jiantou.png') no-repeat 95% center;
        background-size: auto 25%;
      }
    }
  }

  .quickHelpHead {
    margin-bottom: 11px;
    background: $white;
    height: 100px;
    width: 100%;
    .icon {
      width: 40%;
      background: url('./help2.png') no-repeat center center;
      background-size: auto 70%;
    }
    p {
      margin: 0;
    }
    .p1 {
      color: #333333;
      font-size: 20px;
      font-weight: bold;
    }
    .p2 {
      font-size: 14px;
      color: #777777;
    }
  }

  .warnContainer {
    color: $light-gray;
    padding: 75px;
    font-size: 13.5px;
    text-align: center;
  }
}
